

header{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 2rem;
    justify-content: space-evenly;
    border-bottom: 1px solid lightblue;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


@media only screen and (max-width: 600px){
    .nav-list{
        display: none;
    }
}